/ {
    aliases {
        rtc0 = &rtc_i2c;
        rtc1 = &rtc;
    };

    reg_3v3: regulator-3v3 {
        compatible = "regulator-fixed";
        regulator-name = "3.3V";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
    };

    reg_5v0: regulator-5v0 {
        compatible = "regulator-fixed";
        regulator-name = "5V";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
    };

    reg_usb_otg1_vbus: regulator@0 {
        compatible = "regulator-fixed";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_usbo1_en>;
        regulator-name = "usb_otg1_vbus";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        enable-active-high;
        /* Apalis USBO1_EN */
        gpio = <&lsio_gpio3 16 GPIO_ACTIVE_HIGH>;
        status = "disabled";
    };

    /* The Cadence,usb3 driver doesn't support the vbus regulator for now.
        * Add regulator-always-on to keep the USBH_EN signal up.
        */
    reg_usb_host_vbus: regulator-usb-host-vbus {
        compatible = "regulator-fixed";
        enable-active-high;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_usbh_en>;
        regulator-always-on;
        regulator-name = "usb_host_vbus_hub";
        regulator-min-microvolt = <5000000>;
        regulator-max-microvolt = <5000000>;
        /* Apalis USBH_EN */
        gpio = <&lsio_gpio4 4 GPIO_ACTIVE_HIGH>;
    };

    regulator-pcie-switch {
        status = "disabled";
    };

    gpio-fan {
        status = "disabled";
    };
};


/* Disabling adc0 interface to free up pinctrl_adc0 */ 
/* pinctrl_adc0 contains 4 pins, MXM3 305, 307, 309, 311, all of which will be muxed to GPIO */
&adc0 {
    status = "disabled";
};

&fec1 {
    status = "okay";
    /delete-property/ phy-reset-duration;
    /delete-property/ phy-reset-gpios;

    mdio {
        ethphy0: ethernet-phy@4 {
            /delete-property/ interrupt-parent;
            /delete-property/ interrupts;
        };
        ethphy1: ethernet-phy@7 {
            compatible = "ethernet-phy-ieee802.3-c22";
            micrel,led-mode = <0>;
            reg = <7>;
        };
    };
};

/* Apalis Second Gigabit Ethernet */
&fec2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_fec2>;
    fsl,magic-packet;
    phy-handle = <&ethphy1>;
    phy-mode = "rgmii-id";
}; 

/* Apalis CAN1 */
&flexcan2 {
    /* define the following property to disable CAN-FD mode */
    /* disable-fd-mode; */
    status = "disabled";
};

/* Apalis CAN2 */
&flexcan3 {
    /* define the following property to disable CAN-FD mode */
    /* disable-fd-mode; */
    status = "disabled";
};

/* Apalis on-module I2C0 */
/* Rename GPIO expander line names to allow RCU Service to access GPIO using MXM3 pin number */
&i2c0 {
    pcal6416_1: gpio@20 {
        gpio-line-names = "MXM3_220", "MXM3_217", "MXM3_215",
            "UART4_TXD", "MXM3_124", "MXM3_122", "MXM3_120",
            "MXM3_110", "MXM3_2", "Wi-Fi_WKUP_WLAN",
            "Wi-Fi_W_DISABLE", "Wi-Fi_WKUP_BT", "Wi-Fi_PDn",
            "Wi-Fi_WKUP_HOST", "DSI_SW_SEL", "MXM3_232";
    };
};

/* Apalis I2C1 */
&i2c1 {
    status = "okay";
    clock-frequency = <400000>;

    /* M41T0M6 real time clock on carrier board */
    rtc_i2c: rtc@68 {
        compatible = "st,m41t0";
        reg = <0x68>;
    };
};

/* Apalis I2C2 (56246000.i2c) MXM3 205, 207 */
&i2c0_mipi_lvds1 {
    status = "okay";
};
&mipi1_dphy {
    status = "okay";
};
&mipi1_dsi_host {
    status = "okay";
};

/* Apalis I2C3 (5a830000.i2c) MXM3 203, 201 */
&i2c3 {
    status = "okay";
};

/* Apalis I2C4 (5a820000.i2c) MXM3 239, 8 */
&i2c2 {
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_lpi2c4>;
    clock-frequency = <100000>;
    status = "okay";
};

/* Apalis I2C5 (58226000.i2c) MXM3 191, 193 */
&i2c_mipi_csi0 {
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_lpi2c5>;
    clock-frequency = <100000>;
    status = "okay";
};

/* Apalis I2C6 (56226000.i2c) MXM3 35, 37 */
&i2c0_mipi_lvds0 {
    #address-cells = <1>;
    #size-cells = <0>;
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_i2c0_mipi_lvds0>;
    clock-frequency = <100000>;
    status = "okay";
};
&mipi0_dphy {
    status = "okay";
};
&mipi0_dsi_host {
    status = "okay";
};


/* Enable interrupt parent for i2c_mipi_csi0 */
&irqsteer_csi0 {
    status = "okay";
};

&isi_0 {
    interface = <2 0 2>;
    /**
    * interface = <Input MIPI_VCx Output>
    * Input:       0-DC0, 1-DC1, 2-MIPI CSI0, 3-MIPI CSI1, 4-HDMI, 5-MEM, INPUT: 6-PARALLEL CSI
    * MIPI_VCx:    0-VC0, 1-VC1, 2-VC2, 3-VC3, MIPI CSI only
    * Output:      0-DC0, 1-DC1, 2-MEM
    */
    status = "okay";

        cap_device {
            status = "okay";
        };

        m2m_device {
            status = "okay";
        };
};

&isi_1 {
    interface = <6 0 2>;
    parallel_csi;
    status = "disabled";
};

&isi_2 {
    status = "disabled";
};

&isi_3 {
    status = "disabled";
};

&isi_4 {
    status = "disabled";
};

&isi_5 {
    status = "disabled";
};

&isi_6 {
    status = "disabled";
};

&isi_7 {
    status = "disabled";
};

&jpegdec {
        status = "okay";
};

&jpegenc {
        status = "okay";
};

&ldb1 {
    status = "okay";
};

&ldb1_phy {
    status = "okay";
};

&ldb2 {
    status = "okay";
};

&ldb2_phy {
    status = "okay";
};

/* Apalis SPI1 */
&lpspi0 {
    status = "okay";

    spidev0: spi@0 {
        compatible = "toradex,evalspi";
        reg = <0>;
        spi-max-frequency = <4000000>;
    };
};

/* Apalis SPI2 */
/* Disabled to free up MXM3 229, 231, 233, 235 for GPIO */
&lpspi2 {
    status = "disabled";

    spidev1: spi@0 {
        compatible = "toradex,evalspi";
        reg = <0>;
        spi-max-frequency = <4000000>;
    };
};

/* Apalis UART1 */
&lpuart1 {
    status = "okay";
    linux,rs485-enabled-at-boot-time;
};

/* Apalis UART2 */
&lpuart0 {
    status = "okay";
    pinctrl-0 = <&pinctrl_lpuart0_fix>;
    linux,rs485-enabled-at-boot-time;
};

/* Apalis UART3 */
&lpuart2 {
    status = "okay";
    linux,rs485-enabled-at-boot-time;
};

/* Apalis UART4 */
&lpuart3 {
    status = "okay";
    linux,rs485-enabled-at-boot-time;
};

&lsio_gpio1 {
    /**
    * Add GPIO1_26 as a wakeup source:
    * Pin:  SC_P_MIPI_DSI0_I2C0_SDA (MXM3_37)
    * Type: SC_PAD_WAKEUP_FALL_EDGE
    * Line: GPIO1_IO26
    */
    pad-wakeup = <117 5 26>;
    pad-wakeup-num = <1>;
};

/* Apalis PCIE1 */
/* The PCIE interface has to be disabled to safely free up the GPIO pin held by regulator-pcie-switch */
/* Disabling regulator-pcie-switch without disabling pcieb will cause SOM to fail to boot */
&pcieb {
    status = "disabled";
};

/* Apalis PWM2 */
/* Disable pwm_mipi_lvds0 interface, free up pinctrl_pwm_mipi_lvds0 */
/* pinctrl_pwm_mipi_lvds0 contains 1 pin, MXM3 4, which will not be muxed to GPIO */
&pwm_mipi_lvds0 {
    status = "disabled";
};

/* Disable the pwm_mipi_lvds1 interface, free up pinctrl_pwm_mipi_lvds1 */
/* pinctrl_pwm_mipi_lvds1 contains 1 pin, MXM3 239, which will not be muxed to GPIO */
&pwm_mipi_lvds1 {
    status = "disabled";
};

/* Apalis PWM1 */
/* Disable pwm2 interface, free up pinctrl_pwm2 */
/* pinctrl_pwm2 contains 1 pin, MXM3 2, which will be muxed to GPIO */
&pwm2 {
    status = "disabled";
};

/* Apalis USBO1 */
&usbotg1 {
    adp-disable;
    ci-disable-lpm;
    hnp-disable;
    over-current-active-low;
    srp-disable;
    status = "okay";
    vbus-supply = <&reg_usb_otg1_vbus>;
};

&usbphy1 {
    status = "okay";
};

/* Apalis MMC1 */
&usdhc2 {
    status = "okay";
};

&vpu_decoder {
    status = "okay";
};

&vpu_encoder {
    status = "okay";
};

&vpu_lpcg {
    status = "okay";
};

/* Disable lcdif interface, free up pinctrl_lcdif */
/* pinctrl_lcdif contains 22 pins, among which 8 pins will be muxed to GPIO and 14 will not */
/* GPIO: MXM3 243, 245, 247, 255, 257, 259, 261, 265 */
/* NOT GPIO: MXM3 249, 263, 273, 275, 277, 279, 281, 283, 291, 293, 295, 297, 299, 301 */
&display_lcdif {
    status = "disabled";
};

/* Disable backlight interface, free up pinctrl_gpio_bkl_on */
/* pinctrl_gpio_bkl_on contains 1 pin, MXM3 286, which will be muxed to GPIO */
&backlight {
    status = "disabled";
};

&iomuxc {
    pinctrl-names = "default";
        /* Adding all existing GPIO pin groups to the overlay, except pinctrl_sata1_act (MXM3 35) */
        /* MXM3 35 has to be freed up to allow bus 56226000.i2c to be enumerated */
        pinctrl-0 = <&pinctrl_test>, <&pinctrl_dap1_gpios>, <&pinctrl_gpio1>, <&pinctrl_gpio2>, 
                    <&pinctrl_gpio3>, <&pinctrl_gpio4>, <&pinctrl_gpio5>, <&pinctrl_gpio6>, 
                    <&pinctrl_mmc1_gpios>, <&pinctrl_qspi0a_gpios>, <&pinctrl_usbh_oc_n>, 
                    <&pinctrl_wifi_sclk>, <&pinctrl_gpio7>, <&pinctrl_gpio8>;
    apalis-imx8qxp {
        pinctrl_test: gpiomuxgrp {
            fsl,pins = <
                IMX8QXP_ADC_IN0_LSIO_GPIO1_IO10            0x60 /* MXM3 305 */
                IMX8QXP_ADC_IN1_LSIO_GPIO1_IO09            0x60 /* MXM3 307 */
                IMX8QXP_ADC_IN4_LSIO_GPIO1_IO14            0x60 /* MXM3 309 */
                IMX8QXP_ADC_IN5_LSIO_GPIO1_IO13            0x60 /* MXM3 311 */
                IMX8QXP_SPI2_CS0_LSIO_GPIO1_IO00           0x60 /* MXM3 233 */
                IMX8QXP_SPI2_SDI_LSIO_GPIO1_IO02           0x60 /* MXM3 229 */
                IMX8QXP_SPI2_SDO_LSIO_GPIO1_IO01           0x60 /* MXM3 231 */
                IMX8QXP_SPI2_SCK_LSIO_GPIO1_IO03           0x60 /* MXM3 235 */
                IMX8QXP_MCLK_OUT0_LSIO_GPIO0_IO20          0x60 /* MXM3 243 */
                IMX8QXP_MCLK_IN0_LSIO_GPIO0_IO19           0x60 /* MXM3 245 */
                IMX8QXP_SPI3_CS0_LSIO_GPIO0_IO16           0x60 /* MXM3 247 */
                IMX8QXP_SPDIF0_EXT_CLK_LSIO_GPIO0_IO12     0x60 /* MXM3 255 */
                IMX8QXP_SPI3_SCK_LSIO_GPIO0_IO13           0x60 /* MXM3 257 */
                IMX8QXP_SPI3_SDO_LSIO_GPIO0_IO14           0x60 /* MXM3 259 */
                IMX8QXP_SPI3_SDI_LSIO_GPIO0_IO15           0x60 /* MXM3 261 */
                IMX8QXP_USB_SS3_TC2_LSIO_GPIO4_IO05        0x60 /* MXM3 262 */
                IMX8QXP_UART1_CTS_B_LSIO_GPIO0_IO24        0x60 /* MXM3 265 */
                IMX8QXP_QSPI0A_DQS_LSIO_GPIO3_IO13         0x60 /* MXM3 286 */
                IMX8QXP_FLEXCAN0_TX_LSIO_GPIO1_IO16        0x60 /* MXM3 130 */
                IMX8QXP_FLEXCAN0_RX_LSIO_GPIO1_IO15        0x60 /* MXM3 128 */
                IMX8QXP_MIPI_DSI0_GPIO0_01_LSIO_GPIO1_IO28 0x60 /* MXM3 6   */
            >;
        };
        pinctrl_lpi2c4: lpi2c4grp {
            fsl,pins = <
                IMX8QXP_MIPI_DSI1_GPIO0_00_ADMA_I2C2_SCL 0xc6000020 /* MXM3 239 */
                IMX8QXP_MIPI_DSI1_GPIO0_01_ADMA_I2C2_SDA 0xc6000020 /* MXM3 8 */
            >;
        };
        pinctrl_lpi2c5: lpi2c5grp {
            fsl,pins = <
                IMX8QXP_CSI_PCLK_MIPI_CSI0_I2C0_SCL 0xc6000020 /* MXM3 191 */
                IMX8QXP_CSI_MCLK_MIPI_CSI0_I2C0_SDA 0xc6000020 /* MXM3 193 */
            >;
        };
        pinctrl_i2c0_mipi_lvds0: mipilvds0i2c0grp {
            fsl,pins = <
                IMX8QXP_MIPI_DSI0_I2C0_SCL_MIPI_DSI0_I2C0_SCL 0xc6000020 /* MXM3 35 */
                IMX8QXP_MIPI_DSI0_I2C0_SDA_MIPI_DSI0_I2C0_SDA 0xc6000020 /* MXM3 37 */
            >;
        };
        /* External Gigabit Ethernet PHY Micrel KSZ9031 */
        pinctrl_fec2: fec2grp {
            fsl,pins = <
                IMX8QXP_COMP_CTL_GPIO_1V8_3V3_GPIORHB_PAD   0x514a0
                IMX8QXP_ESAI0_TX0_CONN_ENET1_RGMII_RXC      0x60
                IMX8QXP_SPDIF0_RX_CONN_ENET1_RGMII_RXD0     0x60
                IMX8QXP_ESAI0_TX3_RX2_CONN_ENET1_RGMII_RXD1 0x60
                IMX8QXP_ESAI0_TX2_RX3_CONN_ENET1_RGMII_RXD2 0x60
                IMX8QXP_ESAI0_TX1_CONN_ENET1_RGMII_RXD3     0x60
                IMX8QXP_SPDIF0_TX_CONN_ENET1_RGMII_RX_CTL   0x60
                IMX8QXP_ESAI0_FSR_CONN_ENET1_RGMII_TXC      0x60
                IMX8QXP_ESAI0_TX4_RX1_CONN_ENET1_RGMII_TXD0 0x60
                IMX8QXP_ESAI0_TX5_RX0_CONN_ENET1_RGMII_TXD1 0x60
                IMX8QXP_ESAI0_FST_CONN_ENET1_RGMII_TXD2     0x60
                IMX8QXP_ESAI0_SCKT_CONN_ENET1_RGMII_TXD3    0x60
                IMX8QXP_ESAI0_SCKR_CONN_ENET1_RGMII_TX_CTL  0x60
            >;
        };
        /* Redefine lpuart0 pin group without RTS and CTS pins (muxed to GPIO) */
        pinctrl_lpuart0_fix: lpuart0grpfix {
            fsl,pins = <
                IMX8QXP_UART0_TX_ADMA_UART0_TX 0x06000020 /* MXM3 126 */
                IMX8QXP_UART0_RX_ADMA_UART0_RX 0x06000020 /* MXM3 132 */
            >;
        };
    };
};

/* Renamed Apalis GPIO1 to GPIO8 lines, as SmartRacks RCU Service relies on the MXM3 pin number to access GPIOs */
/* Fix GPIO3.IO10 line name from MXM3_110 to MXM3_148 */
&lsio_gpio3 {
    gpio-line-names = "MXM3_191",
                      "MXM3_193",
                      "MXM3_203",
                      "MXM3_201",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "MXM3_96",
                      "MXM3_148",
                      "MXM3_114",
                      "MXM3_116",
                      "MXM3_286",
                      "MXM3_158",
                      "MXM3_198",
                      "MXM3_274",
                      "MXM3_11",
                      "MXM3_13",
                      "MXM3_15",
                      "MXM3_17",
                      "MXM3_1",
                      "MXM3_3",
                      "MXM3_5",
                      "MXM3_7";
};

/* Fix GPIO4.IO20 line name from MXM3_148 to nothing, as this line is not exposed on MXM3 connector */
&lsio_gpio4 {
    gpio-line-names = "",
                      "",
                      "",
                      "MXM3_211",
                      "MXM3_84",
                      "MXM3_262",
                      "MXM3_209",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "",
                      "MXM3_152",
                      "",
                      "MXM3_156",
                      "MXM3_164",
                      "MXM3_154",
                      "MXM3_150",
                      "MXM3_160",
                      "MXM3_162",
                      "MXM3_144",
                      "MXM3_146",
                      "MXM3_77",
                      "MXM3_79",
                      "MXM3_65";
};
