#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/leds/leds-pca955x.h>

/ {
    aliases {
        rtc0 = &rtc_i2c;
        rtc1 = &rtc;
    };

    reg_usb_host_vbus: regulator-usb-host-vbus {
        regulator-name = "VCC USBH2(ABCD) / USBH(3|4)";
    };

    /* I2C Analog Mux attached to RCU's I2C3 */
    /* PEP I/O Expander IO7 (IOXPD2_IO0_7) occupied by mux driver */
    i2cmux-57226000.i2c {
        compatible = "i2c-mux-gpio";
        #address-cells = <1>;
        #size-cells = <0>;
        mux-gpios = <&pca9674 7 GPIO_ACTIVE_HIGH>;
        i2c-parent = <&i2c0_mipi1>;

        i2c@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;
        };
        i2c@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;
        };
    };

    /* I2C Analog Mux attached to RCU's I2C5 */
    /* MXM3 196 (lsio_gpio3 line 12) and MXM3 198 (lsio_gpio2 line 7) occupied by mux driver */
    i2cmux-56247000.i2c {
        compatible = "i2c-mux-gpio";
        #address-cells = <1>;
        #size-cells = <0>;
        mux-gpios = <&lsio_gpio3 12 GPIO_ACTIVE_HIGH &lsio_gpio2 7 GPIO_ACTIVE_HIGH>;
        i2c-parent = <&i2c1_lvds0>;

        i2c@0 {
            reg = <0>;
            #address-cells = <1>;
            #size-cells = <0>;
        };
        i2c@1 {
            reg = <1>;
            #address-cells = <1>;
            #size-cells = <0>;
        };
        i2c@2 {
            reg = <2>;
            #address-cells = <1>;
            #size-cells = <0>;
        };
        i2c@3 {
            reg = <3>;
            #address-cells = <1>;
            #size-cells = <0>;
        };
    };
};

/* Disable pcie switch to mux pin MXM3 15 for GPIO function. */
&reg_pcie_switch {
    status = "disabled";
};

/* Disable gpio fan to mux pin MXM3 17 for GPIO function. */
&gpio_fan {
    status = "disabled";
};

/* Apalis ADC signals */
/* Disable adc0 to mux pin MXM3 305 for GPIO function. */
&adc0 {
    status = "disabled";
};

/* Disable adc0 to mux pin MXM3 307 for GPIO function. */
&adc1 {
    status = "disabled";
};

/* Apalis audio system sub-node */
&asrc0 {
    status = "disabled";
};

/* Apalis First Gigabit Ethernet */
&fec1 {
    status = "okay";

    mdio {
        ethphy0: ethernet-phy@7 {
            /delete-property/ interrupt-parent;
            /delete-property/ interrupts;
            /delete-property/ reset-assert-us;
            /delete-property/ reset-deassert-us;
            /delete-property/ reset-gpios;
            /delete-property/ reset-names;
        };
    };
};

/* Apalis Second Gigabit Ethernet */
&fec2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_fec2>;
    fsl,magic-packet;
    fsl,mii-exclusive;
    phy-handle = <&ethphy1>;
    phy-mode = "rgmii-id";

    mdio {
        #address-cells = <1>;
        #size-cells = <0>;

        ethphy1: ethernet-phy@7 {
            compatible = "ethernet-phy-ieee802.3-c22";
            micrel,led-mode = <0>;
            reg = <7>;
            max-speed = <100>;
        };
    };
};

/* Apalis CAN1 */
&flexcan1 {
    status = "disabled";
};

/* Apalis CAN2 */
&flexcan2 {
    status = "disabled";
};

/* Apalis CAN3 (optional) */
&flexcan3 {
    status = "disabled";
};

/* Apalis HDMI1 */
&hdmi {
    status = "okay";
};

/* RCU's I2C1 */
&i2c2 {
    status = "okay";
    pinctrl-names = "default", "gpio";
    pinctrl-1 = <&pinctrl_lpi2c2_gpio>;
    scl-gpios = <&lsio_gpio0 17 GPIO_ACTIVE_HIGH>;
    sda-gpios = <&lsio_gpio0 18 GPIO_ACTIVE_HIGH>;
    clock-frequency = <400000>;
};

/* RCU's I2C2 */
&i2c3 {
    status = "okay";
    pinctrl-names = "default", "gpio";
    pinctrl-1 = <&pinctrl_lpi2c3_gpio>;
    scl-gpios = <&lsio_gpio0 3 GPIO_ACTIVE_HIGH>;
    sda-gpios = <&lsio_gpio0 4 GPIO_ACTIVE_HIGH>;
    clock-frequency = <400000>;
};

/* Parent node to enable i2c0_mipi1 */
&irqsteer_mipi1 {
    status = "okay";
};

/* Parent node to enable i2c0_mipi1 */
&mipi1_dphy {
    status = "okay";
};

/* Parent node to enable i2c0_mipi1 */
&mipi1_dsi_host {
    status = "okay";
};

/* RCU's I2C3 */
&i2c0_mipi1 {
    status = "okay";
    pinctrl-names = "default", "gpio";
    pinctrl-0 = <&pinctrl_i2c0_mipi1>;
    pinctrl-1 = <&pinctrl_i2c0_mipi1_gpio>;
    scl-gpios = <&lsio_gpio1 20 GPIO_ACTIVE_HIGH>;
    sda-gpios = <&lsio_gpio1 21 GPIO_ACTIVE_HIGH>;
    #address-cells = <1>;
    #size-cells = <0>;
    clock-frequency = <100000>;

    /* PCA9674 8-bit IO expander on I2C3 */
    pca9674: gpio@20 {
        compatible = "nxp,pca9674";
        reg = <0x20>;
        gpio-controller;
        #gpio-cells = <2>;
        label = "pca9674-57226000.gpio";
        /* IO0 and IO1 has to be output high by default */
        lines-initial-states = <0x00>;
        gpio-line-names =
            "IOXPD2_IO0_0", "IOXPD2_IO0_1", "IOXPD2_IO0_2", "IOXPD2_IO0_3", "IOXPD2_IO0_4", "IOXPD2_IO0_5", "IOXPD2_IO0_6", "IOXPD2_IO0_7";
    };
};

/* Parent node to enable i2c0_lvds0 & i2c1_lvds0 */
&ldb1_phy {
    status = "okay";
};

/* Parent node to enable i2c0_lvds0 & i2c1_lvds0 */
&ldb1 {
    status = "okay";
};

/* Parent node to enable i2c0_lvds0 & i2c1_lvds0 */
&irqsteer_lvds0 {
    status = "okay";
};

/* RCU's I2C4 */
&i2c0_lvds0 {
    status = "okay";
    pinctrl-names = "default", "gpio";
    pinctrl-0 = <&pinctrl_i2c0_lvds0>;
    pinctrl-1 = <&pinctrl_i2c0_lvds0_gpio>;
    scl-gpios = <&lsio_gpio1 6 GPIO_ACTIVE_HIGH>;
    sda-gpios = <&lsio_gpio1 7 GPIO_ACTIVE_HIGH>;
    #address-cells = <1>;
    #size-cells = <0>;
    clock-frequency = <100000>;

    /* 48-bit IO expander */
    pi4ioe5v: pi4ioe5v@27 {
        compatible = "diodes,pi4ioe5v96248";
        reg = <0x27>;
        gpio-controller;
        #gpio-cells = <2>;
        npgio=<48>;
        label = "pi4ioe5v96248-56246000.gpio";

        /* NOTE: lines-initial-states acts as a bitmask, i.e.                                                                              */
        /* For a pin to be configured as output, the bit within the bitmask should be set to 1.                                            */
        /* Likewise, for a pin to be configured as input or output high, the bit within the bitmask should be set to 0.                    */
        /* IO0_0 is LSB (bit at rightmost corner), and as we move left from LSB, we approach IO5_7 at the 48th bit.                        */
        /* Everything between the 48th bit to MSB (bit at leftmost corner) does not represent anything (since IO expander is 48 bit only). */
        
        /* This property holds two consecutive 32-bit value to represent a 64-bit value. */
        /* In binary, the hex value 0x00000000 00006000 is written as:                   */
        /* 00000000 00000000 00000000 00000000 00000000 00000000 00110000 00000000       */
        /* where bit 1s target IO1_4 and IO1_5 to set them as default output LOW         */
        lines-initial-states = <0x00000000 0x00003000>;
        
        gpio-line-names =
            "IOXPD1_IO0_0", "IOXPD1_IO0_1", "IOXPD1_IO0_2", "IOXPD1_IO0_3", "IOXPD1_IO0_4", "IOXPD1_IO0_5", "IOXPD1_IO0_6", "IOXPD1_IO0_7",
            "IOXPD1_IO1_0", "IOXPD1_IO1_1", "IOXPD1_IO1_2", "IOXPD1_IO1_3", "IOXPD1_IO1_4", "IOXPD1_IO1_5", "IOXPD1_IO1_6", "IOXPD1_IO1_7",
            "IOXPD1_IO2_0", "IOXPD1_IO2_1", "IOXPD1_IO2_2", "IOXPD1_IO2_3", "IOXPD1_IO2_4", "IOXPD1_IO2_5", "IOXPD1_IO2_6", "IOXPD1_IO2_7",
            "IOXPD1_IO3_0", "IOXPD1_IO3_1", "IOXPD1_IO3_2", "IOXPD1_IO3_3", "IOXPD1_IO3_4", "IOXPD1_IO3_5", "IOXPD1_IO3_6", "IOXPD1_IO3_7",
            "IOXPD1_IO4_0", "IOXPD1_IO4_1", "IOXPD1_IO4_2", "IOXPD1_IO4_3", "IOXPD1_IO4_4", "IOXPD1_IO4_5", "IOXPD1_IO4_6", "IOXPD1_IO4_7",
            "IOXPD1_IO5_0", "IOXPD1_IO5_1", "IOXPD1_IO5_2", "IOXPD1_IO5_3", "IOXPD1_IO5_4", "IOXPD1_IO5_5", "IOXPD1_IO5_6", "IOXPD1_IO5_7";
    };

    /* RCU carrier CAT24C128 EEPROM */
    eeprom: eeprom@50 { 
        compatible = "atmel,24c128"; 
        reg = <0x50>;
    }; 

    rtc_i2c: rtc@68 {
        compatible = "dallas,ds3232";
        reg = <0x68>;
    };
    
    /* Onboard ADC ADS7830 at 0x48 */
    ads7830_1: ads@48 {
        compatible = "ti,ads7830";
        reg = <0x48>;
    };

    /* Onboard ADC ADS7830 at 0x4a */
    ads7830_2: ads@4a {
        compatible = "ti,ads7830";
        reg = <0x4a>;
    };

    /* Onboard ADC ADS7830 at 0x4b */
    ads7830_3: ads@4b {
        compatible = "ti,ads7830";
        reg = <0x4b>;
    };

    /* Onboard Temperature Sensor TMP1075 */
    temp_i2c: temp@4F {
        compatible = "ti,tmp1075";
        reg = <0x4F>;
        status = "okay";
    };

    /* 16-bit LED driver */
    pca9552: pca9552@62 {
        compatible = "nxp,pca9552";
        #address-cells = <1>;
        #size-cells = <0>;
        reg = <0x62>;

        led@0 {
            reg = <0>;
            type = <PCA955X_TYPE_LED>;
        };
        led@1 {
            reg = <1>;
            type = <PCA955X_TYPE_LED>;
        };
        led@2 {
            reg = <2>;
            type = <PCA955X_TYPE_LED>;
        };
        led@3 {
            reg = <3>;
            type = <PCA955X_TYPE_LED>;
        };
        led@4 {
            reg = <4>;
            type = <PCA955X_TYPE_LED>;
        };
        led@5 {
            reg = <5>;
            type = <PCA955X_TYPE_LED>;
        };
        led@6 {
            reg = <6>;
            type = <PCA955X_TYPE_LED>;
        };
        led@7 {
            reg = <7>;
            type = <PCA955X_TYPE_LED>;
        };
        led@8 {
            reg = <8>;
            type = <PCA955X_TYPE_LED>;
        };
        led@9 {
            reg = <9>;
            type = <PCA955X_TYPE_LED>;
        };
        led@10 {
            reg = <10>;
            type = <PCA955X_TYPE_LED>;
        };
        led@11 {
            reg = <11>;
            type = <PCA955X_TYPE_LED>;
        };
        led@12 {
            reg = <12>;
            type = <PCA955X_TYPE_LED>;
        };
        led@13 {
            reg = <13>;
            type = <PCA955X_TYPE_LED>;
        };
        led@14 {
            reg = <14>;
            type = <PCA955X_TYPE_LED>;
        };
        led@15 {
            reg = <15>;
            type = <PCA955X_TYPE_LED>;
        };
    };
};

/* RCU's I2C5 */
&i2c1_lvds0 {
    status = "okay";
    pinctrl-names = "default", "gpio";
    pinctrl-0 = <&pinctrl_i2c1_lvds0>;
    pinctrl-1 = <&pinctrl_i2c1_lvds0_gpio>;
    scl-gpios = <&lsio_gpio1 8 GPIO_ACTIVE_HIGH>;
    sda-gpios = <&lsio_gpio1 9 GPIO_ACTIVE_HIGH>;
    #address-cells = <1>;
    #size-cells = <0>;
    clock-frequency = <100000>;
};

/* Parent node to enable i2c0_lvds1 */
&irqsteer_lvds1 {
    status = "okay";
};

/* RCU's I2C6 */
&i2c0_lvds1 {
    status = "okay";
    pinctrl-names = "default", "gpio";
    pinctrl-0 = <&pinctrl_i2c0_lvds1>;
    pinctrl-1 = <&pinctrl_i2c0_lvds1_gpio>;
    scl-gpios = <&lsio_gpio1 12 GPIO_ACTIVE_HIGH>;
    sda-gpios = <&lsio_gpio1 13 GPIO_ACTIVE_HIGH>;
    #address-cells = <1>;
    #size-cells = <0>;
    clock-frequency = <100000>;
};

&iomuxc {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_rcugpio>, <&pinctrl_reset_moci>,
            <&pinctrl_gpio_usbh_oc_n>;

    pinctrl_rcugpio: rcugpiogrp {
        fsl,pins = <
            /* Bits 5:6 controls the PULL settings of GPIO on the iMX8:        */
            /* 0b00 - prohibited                                               */
            /* 0b01 - pull-up                                                  */
            /* 0b10 - pull-down                                                */
            /* 0b11 - pull disabled                                            */
            /* Turn off all internal pull registers because all GPIOs have     */
            /* external pull up/down registers.

            /* Pin name and muxed function              Pin config             */
            IMX8QM_FLEXCAN2_RX_LSIO_GPIO4_IO01          0x06000061 /* MXM3 11  */
            IMX8QM_M40_I2C0_SCL_LSIO_GPIO0_IO06         0x06000061 /* MXM3 110 */
            IMX8QM_UART1_RTS_B_LSIO_GPIO0_IO26          0x06000061 /* MXM3 114 */
            IMX8QM_UART1_CTS_B_LSIO_GPIO0_IO27          0x06000061 /* MXM3 116 */
            IMX8QM_FLEXCAN0_RX_LSIO_GPIO3_IO29          0x06000061 /* MXM3 12  */
            IMX8QM_M40_I2C0_SDA_LSIO_GPIO0_IO07         0x06000061 /* MXM3 120 */
            IMX8QM_M41_I2C0_SDA_LSIO_GPIO0_IO11         0x06000061 /* MXM3 122 */
            IMX8QM_MIPI_DSI1_GPIO0_00_LSIO_GPIO1_IO22   0x06000061 /* MXM3 123 */
            IMX8QM_M41_I2C0_SCL_LSIO_GPIO0_IO10         0x06000061 /* MXM3 124 */
            IMX8QM_FLEXCAN2_TX_LSIO_GPIO4_IO02          0x06000061 /* MXM3 13  */
            IMX8QM_SIM0_IO_LSIO_GPIO0_IO02              0x06000061 /* MXM3 135 */
            IMX8QM_FLEXCAN0_TX_LSIO_GPIO3_IO30          0x06000061 /* MXM3 14  */
            IMX8QM_USDHC1_DATA4_LSIO_GPIO5_IO19         0x06000061 /* MXM3 148 */
            IMX8QM_MLB_SIG_LSIO_GPIO3_IO26              0x06000061 /* MXM3 15  */
            IMX8QM_USDHC1_DATA5_LSIO_GPIO5_IO20         0x06000061 /* MXM3 152 */
            IMX8QM_USDHC1_DATA6_LSIO_GPIO5_IO21         0x06000061 /* MXM3 156 */
            IMX8QM_USDHC1_DATA7_LSIO_GPIO5_IO22         0x06000021 /* MXM3 158 - Pull up enabled to get a clean 1.8V signal */
            IMX8QM_FLEXCAN1_RX_LSIO_GPIO3_IO31          0x06000061 /* MXM3 16  */
            IMX8QM_MLB_DATA_LSIO_GPIO3_IO28             0x06000061 /* MXM3 17  */
            IMX8QM_ESAI0_TX0_LSIO_GPIO2_IO26            0x06000061 /* MXM3 177 */
            IMX8QM_ESAI0_TX1_LSIO_GPIO2_IO27            0x06000061 /* MXM3 179 */
            IMX8QM_FLEXCAN1_TX_LSIO_GPIO4_IO00          0x06000061 /* MXM3 18  */
            IMX8QM_ESAI0_TX2_RX3_LSIO_GPIO2_IO28        0x06000061 /* MXM3 181 */
            IMX8QM_ESAI0_TX3_RX2_LSIO_GPIO2_IO29        0x06000061 /* MXM3 183 */
            IMX8QM_ESAI0_TX4_RX1_LSIO_GPIO2_IO30        0x06000061 /* MXM3 185 */
            IMX8QM_ESAI0_TX5_RX0_LSIO_GPIO2_IO31        0x06000061 /* MXM3 187 */
            IMX8QM_MCLK_IN0_LSIO_GPIO3_IO00             0x06000061 /* MXM3 191 */
            IMX8QM_SPI3_SDO_LSIO_GPIO2_IO18             0x06000061 /* MXM3 193 */
            IMX8QM_SPI3_SDI_LSIO_GPIO2_IO19             0x06000061 /* MXM3 194 */
            IMX8QM_ESAI0_SCKR_LSIO_GPIO2_IO24           0x06000061 /* MXM3 195 */
            IMX8QM_SAI1_RXC_LSIO_GPIO3_IO12             0x06000061 /* MXM3 196 */
            IMX8QM_ESAI0_SCKT_LSIO_GPIO2_IO25           0x06000061 /* MXM3 197 */
            IMX8QM_ESAI1_SCKT_LSIO_GPIO2_IO07           0x06000061 /* MXM3 198 */
            IMX8QM_GPT1_COMPARE_LSIO_GPIO0_IO19         0x06000061 /* MXM3 2   */
            IMX8QM_SPI0_CS1_LSIO_GPIO3_IO06             0x06000061 /* MXM3 200 */
            IMX8QM_SAI1_RXFS_LSIO_GPIO3_IO14            0x06000061 /* MXM3 202 */
            IMX8QM_SPI2_CS1_LSIO_GPIO3_IO11             0x06000061 /* MXM3 204 */
            IMX8QM_SPDIF0_TX_LSIO_GPIO2_IO15            0x06000061 /* MXM3 215 */
            IMX8QM_SPDIF0_RX_LSIO_GPIO2_IO14            0x06000061 /* MXM3 217 */
            IMX8QM_SPI0_SCK_LSIO_GPIO3_IO02             0x06000061 /* MXM3 221 */
            IMX8QM_SPI0_SDI_LSIO_GPIO3_IO04             0x06000061 /* MXM3 223 */
            IMX8QM_SPI0_SDO_LSIO_GPIO3_IO03             0x06000061 /* MXM3 225 */
            IMX8QM_SPI0_CS0_LSIO_GPIO3_IO05             0x06000061 /* MXM3 227 */
            IMX8QM_SPI2_SDI_LSIO_GPIO3_IO09             0x06000061 /* MXM3 229 */
            IMX8QM_SPI2_SDO_LSIO_GPIO3_IO08             0x06000061 /* MXM3 231 */
            IMX8QM_SPI2_CS0_LSIO_GPIO3_IO10             0x06000061 /* MXM3 233 */
            IMX8QM_SPI2_SCK_LSIO_GPIO3_IO07             0x06000061 /* MXM3 235 */
            IMX8QM_USB_SS3_TC2_LSIO_GPIO4_IO05          0x06000061 /* MXM3 262 */
            IMX8QM_ESAI0_FSR_LSIO_GPIO2_IO22            0x06000061 /* MXM3 271 */
            IMX8QM_ESAI0_FST_LSIO_GPIO2_IO23            0x06000061 /* MXM3 273 */
            IMX8QM_USB_SS3_TC0_LSIO_GPIO4_IO03          0x06000061 /* MXM3 274 */
            IMX8QM_SIM0_GPIO0_00_LSIO_GPIO0_IO05        0x06000061 /* MXM3 275 */
            IMX8QM_SIM0_RST_LSIO_GPIO0_IO01             0x06000061 /* MXM3 277 */
            IMX8QM_SIM0_CLK_LSIO_GPIO0_IO00             0x06000061 /* MXM3 279 */
            IMX8QM_QSPI1A_DATA0_LSIO_GPIO4_IO26         0x06000061 /* MXM3 287 */
            IMX8QM_QSPI1A_DATA1_LSIO_GPIO4_IO25         0x06000061 /* MXM3 289 */
            IMX8QM_QSPI1A_DATA2_LSIO_GPIO4_IO24         0x06000061 /* MXM3 291 */
            IMX8QM_QSPI1A_DATA3_LSIO_GPIO4_IO23         0x06000061 /* MXM3 293 */
            IMX8QM_QSPI1A_SS0_B_LSIO_GPIO4_IO19         0x06000061 /* MXM3 295 */
            IMX8QM_QSPI1A_DQS_LSIO_GPIO4_IO22           0x06000061 /* MXM3 297 */
            IMX8QM_QSPI1A_SS1_B_LSIO_GPIO4_IO20         0x06000061 /* MXM3 299 */
            IMX8QM_QSPI1A_SCLK_LSIO_GPIO4_IO21          0x06000061 /* MXM3 301 */
            IMX8QM_ADC_IN0_LSIO_GPIO3_IO18              0x06000061 /* MXM3 305 */
            IMX8QM_ADC_IN1_LSIO_GPIO3_IO19              0x06000061 /* MXM3 307 */
            IMX8QM_ADC_IN2_LSIO_GPIO3_IO20              0x06000061 /* MXM3 309 */
            IMX8QM_ADC_IN3_LSIO_GPIO3_IO21              0x06000061 /* MXM3 311 */
            IMX8QM_ADC_IN4_LSIO_GPIO3_IO22              0x06000061 /* MXM3 315 */
            IMX8QM_ADC_IN5_LSIO_GPIO3_IO23              0x06000061 /* MXM3 317 */
            IMX8QM_ADC_IN6_LSIO_GPIO3_IO24              0x06000061 /* MXM3 319 */
            IMX8QM_ADC_IN7_LSIO_GPIO3_IO25              0x06000061 /* MXM3 321 */
            IMX8QM_ESAI1_TX0_LSIO_GPIO2_IO08            0x06000061 /* MXM3 35  */
            IMX8QM_SPI3_CS0_LSIO_GPIO2_IO20             0x06000061 /* MXM3 37  */
            IMX8QM_GPT0_COMPARE_LSIO_GPIO0_IO16         0x06000061 /* MXM3 4   */
            IMX8QM_M41_GPIO0_00_LSIO_GPIO0_IO12         0x06000061 /* MXM3 5   */
            IMX8QM_UART0_RTS_B_LSIO_GPIO0_IO22          0x06000061 /* MXM3 6   */
            IMX8QM_MLB_CLK_LSIO_GPIO3_IO27              0x06000061 /* MXM3 63  */
            IMX8QM_M41_GPIO0_01_LSIO_GPIO0_IO13         0x06000061 /* MXM3 7   */
            IMX8QM_UART0_CTS_B_LSIO_GPIO0_IO23          0x06000061 /* MXM3 8   */
        >;
    };

    pinctrl_fec2: fec2grp {
        fsl,pins = <
            IMX8QM_ENET1_MDC_CONN_ENET1_MDC                     0x06000020 /* MXM3 253 */
            IMX8QM_ENET1_MDIO_CONN_ENET1_MDIO                   0x06000020 /* MXM3 251 */
            IMX8QM_ENET1_REFCLK_125M_25M_CONN_ENET1_PPS         0x06000020 /* MXM3 269 */
            IMX8QM_ENET1_RGMII_RX_CTL_CONN_ENET1_RGMII_RX_CTL   0x06000020 /* MXM3 265 */
            IMX8QM_ENET1_RGMII_RXC_CONN_ENET1_RGMII_RXC         0x06000020 /* MXM3 130 */
            IMX8QM_ENET1_RGMII_RXD0_CONN_ENET1_RGMII_RXD0       0x06000020 /* MXM3 249 */
            IMX8QM_ENET1_RGMII_RXD1_CONN_ENET1_RGMII_RXD1       0x06000020 /* MXM3 247 */
            IMX8QM_ENET1_RGMII_RXD2_CONN_ENET1_RGMII_RXD2       0x06000020 /* MXM3 245 */
            IMX8QM_ENET1_RGMII_RXD3_CONN_ENET1_RGMII_RXD3       0x06000020 /* MXM3 243 */
            IMX8QM_ENET1_RGMII_TX_CTL_CONN_ENET1_RGMII_TX_CTL   0x06000020 /* MXM3 263 */
            IMX8QM_ENET1_RGMII_TXC_CONN_ENET1_RGMII_TXC         0x06000020 /* MXM3 261 */
            IMX8QM_ENET1_RGMII_TXD0_CONN_ENET1_RGMII_TXD0       0x06000020 /* MXM3 259 */
            IMX8QM_ENET1_RGMII_TXD1_CONN_ENET1_RGMII_TXD1       0x06000020 /* MXM3 257 */
            IMX8QM_ENET1_RGMII_TXD2_CONN_ENET1_RGMII_TXD2       0x06000020 /* MXM3 255 */
            IMX8QM_ENET1_RGMII_TXD3_CONN_ENET1_RGMII_TXD3       0x06000020 /* MXM3 128 */
        >;
    };

    /* RCU's I2C1 GPIO pin config */
    pinctrl_lpi2c2_gpio: lpi2c2gpiogrp {
        fsl,pins = <
            IMX8QM_GPT1_CLK_LSIO_GPIO0_IO17        0x04000020 /* MXM3 211 */
            IMX8QM_GPT1_CAPTURE_LSIO_GPIO0_IO18    0x04000020 /* MXM3 209 */
        >;
    };

    /* RCU's I2C2 GPIO pin config */
    pinctrl_lpi2c3_gpio: lpi2c3gpiogrp {
        fsl,pins = <
            IMX8QM_SIM0_PD_LSIO_GPIO0_IO03          0x04000020 /* MXM3 203 */
            IMX8QM_SIM0_POWER_EN_LSIO_GPIO0_IO04    0x04000020 /* MXM3 201 */
        >;
    };

    /* RCU's I2C3 */
    pinctrl_i2c0_mipi1: mipi1i2c0grp {
        fsl,pins = <
            IMX8QM_MIPI_DSI1_I2C0_SCL_MIPI_DSI1_I2C0_SCL    0x04000020 /* MXM3 173 */
            IMX8QM_MIPI_DSI1_I2C0_SDA_MIPI_DSI1_I2C0_SDA    0x04000020 /* MXM3 175 */
        >;
    };

    /* RCU's I2C3 GPIO pin config */
    pinctrl_i2c0_mipi1_gpio: mipi1i2c0gpiogrp {
        fsl,pins = <
            IMX8QM_MIPI_DSI1_I2C0_SCL_LSIO_GPIO1_IO20    0x04000020 /* MXM3 173 */
            IMX8QM_MIPI_DSI1_I2C0_SDA_LSIO_GPIO1_IO21    0x04000020 /* MXM3 175 */
        >;
    };

    /* RCU's I2C4 */
    pinctrl_i2c0_lvds0: lvds0i2c0grp {
        fsl,pins = <
            IMX8QM_LVDS0_I2C0_SCL_LVDS0_I2C0_SCL    0x04000020 /* MXM3 87  */
            IMX8QM_LVDS0_I2C0_SDA_LVDS0_I2C0_SDA    0x04000020 /* MXM3 99  */
        >;
    };

    /* RCU's I2C4 GPIO pin config */
    pinctrl_i2c0_lvds0_gpio: lvds0i2c0gpiogrp {
        fsl,pins = <
            IMX8QM_LVDS0_I2C0_SCL_LSIO_GPIO1_IO06    0x04000020 /* MXM3 87  */
            IMX8QM_LVDS0_I2C0_SDA_LSIO_GPIO1_IO07    0x04000020 /* MXM3 99  */
        >;
    };

    /* RCU's I2C5 */
    pinctrl_i2c1_lvds0: lvds0i2c1grp {
        fsl,pins = <
            IMX8QM_LVDS0_I2C1_SCL_LVDS0_I2C1_SCL    0x04000020 /* MXM3 138 */
            IMX8QM_LVDS0_I2C1_SDA_LVDS0_I2C1_SDA    0x04000020 /* MXM3 140 */
        >;
    };

    /* RCU's I2C5 GPIO pin config */
    pinctrl_i2c1_lvds0_gpio: lvds0i2c1gpiogrp {
        fsl,pins = <
            IMX8QM_LVDS0_I2C1_SCL_LSIO_GPIO1_IO08    0x04000020 /* MXM3 138 */
            IMX8QM_LVDS0_I2C1_SDA_LSIO_GPIO1_IO09    0x04000020 /* MXM3 140 */
        >;
    };

    /* RCU's I2C6 */
    pinctrl_i2c0_lvds1: lvds1i2c0grp {
        fsl,pins = <
            IMX8QM_LVDS1_I2C0_SCL_LVDS1_I2C0_SCL    0x04000020 /* MXM3 281 */
            IMX8QM_LVDS1_I2C0_SDA_LVDS1_I2C0_SDA    0x04000020 /* MXM3 283 */
        >;
    };

    /* RCU's I2C6 GPIO pin config */
    pinctrl_i2c0_lvds1_gpio: lvds1i2c0gpiogrp {
        fsl,pins = <
            IMX8QM_LVDS1_I2C0_SCL_LSIO_GPIO1_IO12    0x04000020 /* MXM3 281 */
            IMX8QM_LVDS1_I2C0_SDA_LSIO_GPIO1_IO13    0x04000020 /* MXM3 283 */
        >;
    };

    /* Apalis BKL1_ON */
    pinctrl_bkl_on: bkl-on {
        fsl,pins = <
            IMX8QM_LVDS0_GPIO00_LVDS0_GPIO0_IO00    0x00000021 /* MXM3 286 */
        >;
    };

    /* RCU UART1 */
    pinctrl_lpuart1: lpuart1grp {
        fsl,pins = <
            IMX8QM_UART1_RX_DMA_UART1_RX            0x06000020 /* MXM3 118 */
            IMX8QM_UART1_TX_DMA_UART1_TX            0x06000020 /* MXM3 112 */
        >;
    };

    /* RCU UART2 */
    pinctrl_lpuart3: lpuart3grp {
        fsl,pins = <
            IMX8QM_LVDS1_I2C1_SCL_DMA_UART3_TX      0x06000020 /* MXM3 132 */
            IMX8QM_LVDS1_I2C1_SDA_DMA_UART3_RX      0x06000020 /* MXM3 126 */
        >;
    };

    /* RCU UART4 */
    pinctrl_lpuart4: lpuart4grp {
        fsl,pins = <
            IMX8QM_M40_GPIO0_00_DMA_UART4_RX        0x06000020 /* MXM3 1 */
            IMX8QM_M40_GPIO0_01_DMA_UART4_TX        0x06000020 /* MXM3 3 */
        >;
    };
};

/* RCU LVDS channel 1 and 2 phy node */
&ldb2_phy {
    status = "okay";
};

/* RCU LVDS channel 1 and 2 parent node */
&ldb2 {
    status = "okay";
};

/* Apalis SPI1 */
&lpspi0 {
    status = "disabled";
};

/* Apalis SPI2 */
&lpspi2 {
    status = "disabled";
};

/* RCU UART1 */
&lpuart1 {
    status = "okay";
    pinctrl-0 = <&pinctrl_lpuart1>;
};

/* RCU UART2 */
&lpuart3 {
    status = "okay";
    pinctrl-0 = <&pinctrl_lpuart3>;
};

/* RCU UART3 */
&lpuart0 {
    status = "okay";
};

/* RCU UART4 */
&lpuart4 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_lpuart4>;
};

/* Apalis PCIE1 */
&pciea {
    status = "disabled";
};

/* On-module Wi-Fi */
&pcieb {
    status = "disabled";
};

/* Apalis PWM3, MXM3 pin 6 */
&lsio_pwm0 {
    status = "disabled";
};

/* Apalis PWM4, MXM3 pin 8 */
&lsio_pwm1 {
    status = "disabled";
};

/* Apalis PWM1, MXM3 pin 2 */
&lsio_pwm2 {
    status = "disabled";
};

/* Apalis PWM2, MXM3 pin 4 */
&lsio_pwm3 {
    status = "disabled";
};

/* Apalis audio system sub-node */
&sai1 {
    status = "disabled";
};

/* Apalis SATA1 */
&sata {
    status = "disabled";
};

/* Apalis SPDIF1 */
&spdif0 {
    status = "disabled";
};

/* usbphy signal for usbotg3 which is not used in RCU. */
&usb3_phy {
    status = "disabled";
};

/* Apalis USBH2, Apalis USBH3 and on-module Wi-Fi via on-module HSIC Hub */
&usbh1 {
    status = "okay";
    vbus-supply = <&reg_usb_host_vbus>;
    fsl,usbphy = <&usbphy1>;
};

/* Original usbphy signal for USBH1. */
&usbphynop2 {
    status = "disabled";
};

/* Original usbphy signal for USBOTG1 (disabled), reassigned to USBH1 */
&usbphy1 {
    status = "okay";
};

/* Apalis USBO1 */
&usbotg1 {
    status = "disabled";
};

/* On-module eMMC */
&usdhc1 {
    status = "okay";
};

/* RCU's SD1 */
/* RCU uses Apalis' MMC1 as its SD1, hence the bus-width is reduced to 4 */
/* Delete 'no-1-8-v' property to enable UHS-I speed for SD card          */
/* Redefine pinctrl groups to avoid using 8bit pingroups containing GPIO */
&usdhc2 {
    bus-width = <4>;
    pinctrl-0 = <&pinctrl_usdhc2_4bit>,
                <&pinctrl_mmc1_cd>;
    pinctrl-1 = <&pinctrl_usdhc2_4bit_100mhz>,
                <&pinctrl_mmc1_cd>;
    pinctrl-2 = <&pinctrl_usdhc2_4bit_200mhz>,
                <&pinctrl_mmc1_cd>;
    pinctrl-3 = <&pinctrl_usdhc2_4bit_sleep>,
                <&pinctrl_mmc1_cd_sleep>;
    status = "okay";
    /delete-property/ no-1-8-v;
};

/* Apalis SD1 */
&usdhc3 {
    status = "disabled";
};
