# Content in this file is derived from examples provided in udev-toradex-rules.bb in meta-toradex-bsp-common, refer to
# https://git.toradex.com/cgit/meta-toradex-bsp-common.git/tree/recipes-core/udev/files/apalis-imx8/99-toradex.rules?h=dunfell-5.x.y

ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="5a820000.i2c", SYMLINK+="I2C1"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="5a830000.i2c", SYMLINK+="I2C2"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="57226000.i2c", SYMLINK+="I2C3"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="56246000.i2c", SYMLINK+="I2C4"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="56247000.i2c", SYMLINK+="I2C5"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="57246000.i2c", SYMLINK+="I2C6"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="i2c-[0-9]*-mux (chan_id 0)", ATTRS{name}=="57226000.i2c", SYMLINK+="I2C3_MUX1_CH0"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="i2c-[0-9]*-mux (chan_id 1)", ATTRS{name}=="57226000.i2c", SYMLINK+="I2C3_MUX1_CH1"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="i2c-[0-9]*-mux (chan_id 0)", ATTRS{name}=="56247000.i2c", SYMLINK+="I2C5_MUX1_CH0"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="i2c-[0-9]*-mux (chan_id 1)", ATTRS{name}=="56247000.i2c", SYMLINK+="I2C5_MUX1_CH1"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="i2c-[0-9]*-mux (chan_id 2)", ATTRS{name}=="56247000.i2c", SYMLINK+="I2C5_MUX1_CH2"
ACTION=="add", KERNEL=="i2c-[0-9]*", ATTR{name}=="i2c-[0-9]*-mux (chan_id 3)", ATTRS{name}=="56247000.i2c", SYMLINK+="I2C5_MUX1_CH3"
ACTION=="add", ATTRS{iomem_base}=="0x5A070010", SYMLINK+="UART1"
ACTION=="add", ATTRS{iomem_base}=="0x5A090010", SYMLINK+="UART2"
ACTION=="add", ATTRS{iomem_base}=="0x5A060010", SYMLINK+="UART3"
ACTION=="add", ATTRS{iomem_base}=="0x5A0A0010", SYMLINK+="UART4"
ACTION=="add", KERNELS=="watchdog", SYMLINK+="apalis-watchdog"
KERNEL=="mmcblk[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="5b010000.mmc", SYMLINK+="emmc"
KERNEL=="mmcblk[0-9]boot[0-9]", ENV{DEVTYPE}=="disk", KERNELS=="5b010000.mmc", SYMLINK+="emmc-boot%n"
KERNEL=="mmcblk[0-9]p[0-9]", ENV{DEVTYPE}=="partition", KERNELS=="5b010000.mmc", SYMLINK+="emmc-part%n"
ACTION=="add|change", KERNEL=="mmcblk[0-9]", KERNELS=="5b030000.mmc", SYMLINK+="apalis-sd4bit"
ACTION=="add|change", KERNEL=="mmcblk[0-9]p[0-9]*", KERNELS=="5b030000.mmc", SYMLINK+="apalis-sd4bit-part%n"
