# Configurations to handle starting and stopping vsftpd.service on SD card hotplug

SUBSYSTEM=="block", KERNELS=="mmcblk1p1", ACTION=="add"    RUN+="/etc/udev/scripts/vsftpd-sd.sh"
SUBSYSTEM=="block", KERNELS=="mmcblk1p1", ACTION=="remove" RUN+="/etc/udev/scripts/vsftpd-sd.sh"
SUBSYSTEM=="block", KERNELS=="mmcblk1p1", ACTION=="change", ENV{DISK_MEDIA_CHANGE}=="1" RUN+="/etc/udev/scripts/vsftpd-sd.sh"
