[Unit]
#ConditionPathExists=|!/etc/hostname
Wants=network-pre.target
Before=network-pre.target
# Make sure that ni-smartracks hostname is set before avahi-daemon registers hostname to DNS
Before=avahi-daemon.service
After=local-fs.target
After=sys-subsystem-net-devices-eth0.device

[Service]
Type=oneshot
ExecStart=/usr/bin/rcuhostname

[Install]
WantedBy=network.target
