[Unit]
Description=Service to run RCU sanity check
After=network.target
ConditionPathExists=/etc/rcu-mender-image-firstboot

[Service]
Type=oneshot
ExecStart=/usr/bin/post-update-sanity-check

[Install]
WantedBy=multi-user.target
